@using MasterCraft.Client.Mentors.Components
@using MasterCraft.Client.Common.Services
@using System.Security.Claims;

@inject NavigationManager Navigation

<div class="mc-progress-tracker">
    @foreach (var crumb in progressTrackerItems)
    {
        bool active = currentProgressItem >= crumb.Key;

        @*if (crumb.Key > 1)
        {
            string dividerClass = $"divider {(active ? "active" : "inactive")}";
            <SfIcon Name="IconName.ChevronRight" IconCss="@dividerClass"></SfIcon>
        }*@

        string labelClass = $"label {(active ? "active-btn" : "inactive")}";
        <a class=@labelClass @onclick="() => OnProgressItemClick(crumb.Key)">@crumb.Value.Label</a>
    }
</div>

<style>
    .mc-progress-tracker {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .active, .active-btn {
        color:  @Colors.McGreen;
        cursor: pointer;
    }

    .inactive {
         color: @Colors.McGray;
    }

    .active-btn:hover {
        color:  @Colors.McDarkGreen;
    }

    .divider {
        vertical-align: bottom;
        margin: 5px;
    }

    .mc-progress-tracker > .label {
        font-family: @Fonts.Headline;
        font-size: 20px;
        vertical-align: middle;
        margin: 10px;
    }
</style>