@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <NavMenu />
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>
    /*Edit form styling*/
    .mc-edit-form {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: auto;
    }

    .validation-message {
        white-space: nowrap;
    }

    .validation-errors {
        text-align: left;
    }

    /*Input Styling*/
    .mc-input {
        background-color: @Constants.McLightGray !important;
        border-color: @Constants.McLightGray !important;
        border-radius: 10px  !important;
        font-family: 'Roboto';
    }

    /*Button Styling*/
    .mc-btn {
        border-radius: 50px;
        height: 40px;
        min-width: 110px;
        font-family: 'Archivo Black';
    }

    .mc-btn-black {
        background-color: @Constants.McBlack;
        border-color: @Constants.McBlack;
    }

    .mc-btn-black:hover {
        background-color: @Constants.McDarkBlack;
    }

    .mc-btn-red {
        background-color: @Constants.McRed;
        border-color: @Constants.McRed;
    }

    .mc-btn-red:hover {
        background-color:  @Constants.McDarkRed;
    }

    .mc-btn-gray {
        background-color: @Constants.McButtonGray;
        border-color: @Constants.McButtonGray;
    }

    /*Text and heading styling*/
    hr {
        display: block;
        width: 100%;
        background-color: @Constants.McLightGray;
        height: 1px;
    }

    h1, h2, h3, label{
        font-family: 'Archivo Black';
    }

    .mc-title {
        width: 800px;
        text-align: center;
        margin: auto;
    }
</style>
