@inherits LayoutComponentBase
@using Syncfusion.Blazor.Notifications;

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <ErrorHandler>
            <div class="page">
                <div class="main">
                   @Body
                </div>
            </div>
        </ErrorHandler>
    </ChildContent>
    <ErrorContent Context = "ex">
        <p>An unexpected error occurred: @ex.Message</p>
        <button @onclick="Recover">Reload</button>
    </ErrorContent>
</ErrorBoundary>

<style>
    /*Edit form styling*/
    .mc-edit-form {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin: auto;
    }

    .validation-message {
        white-space: nowrap;
    }

    .validation-errors {
        text-align: left;
    }

    /*Input Styling*/
    .mc-input {
        background-color: @Colors.McLightGray !important;
        border-radius: 10px  !important;
        font-family: @Fonts.Paragraph;
    }

    .mc-input:focus {
        border-color: @Colors.McGreen !important;
    }

    /*Button Styling*/
    .mc-btn {
        border-radius: 50px;
        height: 40px;
        min-width: 110px;
        font-family: @Fonts.Headline;
        font-size: 16px
    }

    .mc-btn-black {
        background-color: @Colors.McBlack;
        border-color: @Colors.McBlack;
    }

    .mc-btn-black:hover {
        background-color: @Colors.McDarkBlack;
    }

    .mc-btn-green {
        background-color: @Colors.McGreen;
        border-color: @Colors.McGreen;
    }

    .mc-btn-green:hover {
        background-color:  @Colors.McDarkGreen;
    }

    .mc-btn-gray {
        background-color: @Colors.McButtonGray;
        border-color: @Colors.McButtonGray;
    }

    .mc-btn-gray:hover {
        background-color: @Colors.McButtonDarkGray;
    }

    .mc-link-gray {
        color: @Colors.McButtonGray;
        font-family: @Fonts.Headline;
        font-size: 16px;
    }

    .mc-link-gray:hover {
        color: @Colors.McGreen;
    }

    /*Text and heading styling*/
    hr {
        display: block;
        width: 100%;
        background-color: @Colors.McLightGray;
        height: 1px;
    }

    h1, h2, h3, h4, label{
        font-family: @Fonts.Headline;
    }

    h5 {
        font-weight: bold;
    }

    h5, h6 {
        font-family: @Fonts.Paragraph
    }

    .mc-title {
        width: 800px;
        text-align: center;
        margin: auto;
    }

    /* Image Styling */
    .profile-image {
        border-radius: 50%;
        border: 2px solid @Colors.McGreen;
        padding: 1px;
        aspect-ratio: 1 / 1;
    }

    /* List View Styling*/
    .e-listview .e-list-item { /* list item*/
        padding: 5px;
    }

    .e-listview .e-list-item.e-hover { /* item hover state */
        background-color: @Colors.McLightGray;
    }

    .e-listview .e-list-item.e-focused { /* selected item */
        background-color: @Colors.McLightGray;
    }

    /* Tab Layout styling */
    .e-tab .e-tab-header {
        border-bottom: 2px solid @Colors.McGreen;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active { /*Selected tab header*/
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-text{ /* Tab header text */
        color: @Colors.McGray;
        font-weight: bold;
    }

    .e-tab .e-tab-header .e-toolbar-item:hover .e-tab-text{ /* Hovered header text*/
        color: @Colors.McGreen !important;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon { /* Selected header text and icon*/
        color: @Colors.McBlack !important;
        font-weight: bold;
    }

    /* Card styling*/
    .e-card, .e-card:hover{
        box-shadow: 5px 5px 5px @Colors.McGray;
        background-color: @Colors.McLightGray
    }

    /* File picker styling */
    .e-upload.e-control-wrapper, .e-bigger.e-small .e-upload.e-control-wrapper {
        border-radius: 10px;
        background-color: @Colors.McLightGray;
        border-color: @Colors.McGray;
    }

    .e-upload .e-file-select-wrap .e-btn, .e-upload .e-upload-actions .e-btn, .e-bigger.e-small .e-upload .e-file-select-wrap .e-btn, .e-bigger.e-small .e-upload .e-upload-actions .e-btn {
        background-color: @Colors.McGreen;
        font-family: @Fonts.Headline;
        border-radius: 10px;
    }

    /*Spinner styling*/
    .e-spinner-pane .e-spinner-inner .e-spin-fabric {
      stroke: @Colors.McGreen;
    }
</style>