@page "/signup";

<EditForm Model="command" OnValidSubmit="OnRegisterClick">
    <div class="mc-edit-form">
        <h3>@Properties.Resources.SignUp</h3>
        <DataAnnotationsValidator />
        <CustomValidation @ref="customValidation" />
        <ValidationSummary />
        <div class="mc-input-group">
            <div id="firstname">
                <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder=@Properties.Resources.FirstName @bind-Value="command.FirstName" />
                @*<ValidationMessage For="@(() => command.FirstName)" />*@
            </div>
            <div id="lastname">
                <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder=@Properties.Resources.LastName @bind-Value="command.LastName" />
                @*<ValidationMessage For="@(() => command.LastName)" />*@
            </div>
            <div>
                <SfTextBox Type="InputType.Email" CssClass="mc-input" Placeholder=@Properties.Resources.Email @bind-Value="command.Email" />
                @*<ValidationMessage For="@(() => command.Email)" />*@
            </div>
            <div>
                <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder=@Properties.Resources.Password @bind-Value="command.Password" />
                @*<ValidationMessage For="@(() => command.Password)" />*@
            </div>
            <div>
                <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder=@Properties.Resources.ConfirmPassword @bind-Value="command.ConfirmPassword" />
                @*<ValidationMessage For="@(() => command.ConfirmPassword)" />*@
            </div>
        </div>
        <SfProgressButton HtmlAttributes=@SubmitAttribute Content="@Properties.Resources.SignUp" EnableProgress="true" CssClass="mc-btn mc-btn-black">
            <ProgressButtonAnimationSettings Effect="Syncfusion.Blazor.SplitButtons.AnimationEffect.ZoomIn"></ProgressButtonAnimationSettings>
            <ProgressButtonSpinSettings Position="SpinPosition.Center"></ProgressButtonSpinSettings>
        </SfProgressButton>
    </div>
</EditForm>

<style>
    .mc-edit-form {
        width: 300px;
    }

    .mc-edit-form > .e-btn {
        margin: auto;
        margin-top: 30px;
    }

    .mc-input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: auto;
    }

    .mc-input-group > div {
        grid-column-start: span 2;
    }

    #firstname, #lastname {
        grid-column: span 1;
    }
</style>

