@page "/login"
 
<SubmissionForm TRequest=GenerateTokenVm TResponse=AccessTokenVm Request="@request" 
                OnValidSubmit="OnLoginClick" FormTitle="@Properties.Resources.LogIn" ButtonText="@Properties.Resources.LogIn">
    <ChildContent>
        <div>
            <SfTextBox Type="InputType.Email" CssClass="mc-input" Placeholder="@Properties.Resources.Email" @bind-Value="request.Username" />
            <ValidationMessage For="@(() => request.Username)" />
        </div>
        <div>
            <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder="@Properties.Resources.Password" @bind-Value="request.Password" />
            <ValidationMessage For="@(() => request.Password)" />
        </div>
    </ChildContent>
</SubmissionForm>

<style>
    .mc-edit-form {
        width: 200px;
    }

    .mc-input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mc-edit-form > .e-btn {
        margin: auto;
        margin-top: 30px;
    }
</style>
