@page "/signup";

<SubmissionForm TRequest=RegisterUserVm TResponse=EmptyVm Request="@request"
                OnValidSubmit="OnRegisterClick" FormTitle="@Properties.Resources.SignUp" ButtonText="@Properties.Resources.SignUp">
    <ChildContent>
        <div id="firstname">
            <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder=@Properties.Resources.FirstName @bind-Value="request.FirstName" />
            <ValidationMessage For="@(() => request.FirstName)" />
        </div>
        <div id="lastname">
            <SfTextBox Type="InputType.Text" CssClass="mc-input" Placeholder=@Properties.Resources.LastName @bind-Value="request.LastName" />
            <ValidationMessage For="@(() => request.LastName)" />
        </div>
        <div>
            <SfTextBox Type="InputType.Email" CssClass="mc-input" Placeholder=@Properties.Resources.Email @bind-Value="request.Email" />
            <ValidationMessage For="@(() => request.Email)" />
        </div>
        <div>
            <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder=@Properties.Resources.Password @bind-Value="request.Password" />
            <ValidationMessage For="@(() => request.Password)" />
        </div>
        <div>
            <SfTextBox Type="InputType.Password" CssClass="mc-input" Placeholder=@Properties.Resources.ConfirmPassword @bind-Value="request.ConfirmPassword" />
            <ValidationMessage For="@(() => request.ConfirmPassword)" />
        </div>
    </ChildContent>
</SubmissionForm>

<style>
    .mc-input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: auto;
    }

    .mc-input-group > div {
        grid-column-start: span 2;
    }

    #firstname, #lastname {
        grid-column: span 1;
    }
</style>

